@import url('https://fonts.googleapis.com/css2?family=Finlandica&family=Poppins:wght@100;300;400&display=swap');

/* SCSS RGB */
$unbleached-silk: rgba(237, 208, 192, 1);
$fuzzy-wuzzy: rgba(200, 98, 109, 1);
$ash-gray: rgba(179, 192, 174, 1);
$rosy-brown: rgba(188, 136, 128, 1);
$tyrian-purple: rgba(97, 3, 69, 1);

$primary: $tyrian-purple;
$secondary: $ash-gray;
$warning: $rosy-brown;
$danger: $fuzzy-wuzzy;
$light: $unbleached-silk;
$dark: #111010c2;

$font-family-sans-serif: 'Finlandica', sans-serif;
$font-family-base: 'Finlandica', sans-serif;
$font-family-code: 'Finlandica', sans-serif;

$btn-border-radius: "0";

.disabled {
    pointer-events: none;
}

.login-page {
    background-image: url('../public/images/background1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.register-page {
    background-image: url('../public/images/background3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.blur-bg {
    backdrop-filter: blur(3px);
}

.blur-bg-register {
    backdrop-filter: blur(2px);
}

.wrapper {
    max-width: 450px;
    position: relative;
    min-height: 560px;
    margin: 20px auto;
}

.wrapper-breads {
    background-color: $warning;
    box-shadow: 0px 0px 30px 8px #0000007e;
}

.wrapper-sweets {
    color: #ffffffcc;
    background-color: $ash-gray;
    box-shadow: 0px 0px 30px 8px #ffffffaa;
}

.wrapper-coffees {
    color: #ffffffcc;
    background-color: $dark;
    box-shadow: 0px 0px 30px 8px #ffffffaa;
}

.header {
    min-height: 300px;
    opacity: 0.9;
    background-size: cover;
}

.border {
    border: $ash-gray 2px solid;
    position: relative;
    margin: 0 auto;
    width: 100px;
 }

 .info {
    margin-top: -10px;
    font-weight: 700;
    letter-spacing: 0.1em;
    padding: 30px;
    overflow: hidden;
 }

.number {
     border: none;
     border-radius: 18px
 }

 .column {
     background-color: #ffffff56;
     border: 2px solid #0000007e;
     padding: 0;
     border-radius: 4px;

     h2 {
         padding: 0;
         margin: 0;
     }
 }

 .column-data {
    background-color: #ffffffa2;
 }

@import "../node_modules/bootstrap/scss/bootstrap.scss";

